.banner-three {
    margin-bottom: 90px;
    overflow: hidden;
    @media (min-width: 768px) {
        background: url('/assets/images/banner3.jpg');
        background-size: cover;
        padding: 116px 0 100px;
    }
    @media (min-width: 991px) {
        margin-bottom: 170px;
        padding: 116px 0 100px;
    }

    .image-mobile {
        position: relative;
        display: block;
        @media (min-width: 768px) {
            display: none;
        }
        img {
            width: 100%;
            
        }
        .text {
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            text-align: center;

            h3 {
                color: #e9ad46;
                font-size: 21px;
                margin-bottom: 34px;
                text-transform: uppercase;
                
            }

            h2 {
                font-weight: bold;
                color: #fff;
                margin-bottom: 52px;
                font-size: 31px;
                line-height: 40px;
                @media (min-width: 768px) {
                    font-size: 53px;
                    line-height: 60px;
                }

                span { font-weight: 300; }
            }

        }
    }

    &__content {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        .image {
            img {
                width: 100%;
            }
        }
        .right-box {
            // position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px;
            @media (min-width: 991px) {
                width: 50%;
                padding-right: 20px;
            }
            @media (min-width: 1024px) {
                padding-right: 50px;
            }

            @media (min-width: 1339px) {
                padding-right: 200px;
            }

            h3 {
                color: #e9ad46;
                font-size: 21px;
                margin-bottom: 34px;
                text-transform: uppercase;
                display: none;
                @media (min-width: 768px) {
                    display: block;
                }
                
            }

            h2 {
                font-weight: bold;
                color: #fff;
                margin-bottom: 52px;
                font-size: 31px;
                line-height: 40px;
                display: none;
                @media (min-width: 768px) {
                    display: block;
                }

                span { font-weight: 300; }
            }
            .right-box-list{
                display: flex;
                gap: 24px;
                margin-bottom: 67px;
                &:last-child {
                    margin-bottom: 0;
                }
                .number {
                    padding-top: 5px;
                    span {
                        display: block;
                        font-weight: bold;
                        font-size: 30px;
                        color: #fff;
                        line-height: 30px;
                        width: 53px;
                        padding: 11px 0;
                        background: #e9ad46;
                        text-align: center;
                        border-radius: 3px;

                    }

                }

                .text {
                    h3 {
                        font-weight: bold;
                        font-size: 30px;
                        color: #fff;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 18px;
                        color: #000;
                        line-height: 30px;
                        @media (min-width: 768px) {
                            color: #fff;
                        }
                    }
                }
            }
        }

    }
    
}