.banner-two {
    position: relative;
    margin-bottom: 60px;
    overflow: hidden;
    @media (min-width: 600px) {
        margin-bottom: 150px;
    }
    &__content {
        position: relative;
        img {
            width: 100%;
            object-fit: cover;
            min-height: 447px;
        }

        .text {
            width: 100%;
            height: 100%;
            // position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 55px;
            div {
                width: 100%;
                max-width: 988px;
                padding: 0 16px;
                text-align: center;
                h3 {
                    font-size: 21px;
                    color: #e9ad46;
                    text-transform: uppercase;
                    margin-bottom: 40px;
                }

                h2 {
                    font-size: 31px;
                    color: #000;
                    line-height: 40px;

                    @media (min-width: 768x) {
                        font-size: 53px;
                        color: #fff;
                        line-height: 60px;
                    }
                    span { font-weight: 300; }
                }
            }
        }
    }

    &__columns {
        margin-top: 30px;
        @media (min-width: 991px) {
            margin-top: -90px;
        }
        
        margin-bottom: 90px;
        &__content {
            display: flex;
            flex-direction: column;
            @media (min-width: 991px) {
                flex-direction: row;
            }
            gap: 139px;
            .icon {
                background: #2b0064;
                width: 186px;
                border: 10px solid #fff;
                text-align: center;
                margin: 0 auto;
                display: block;
                border-radius: 50%;
                padding: 34px 0;
                margin-bottom: 24px;
                img {
                    width: 95px;
                    height: 95px;
                }
            }

            h3 {
                font-weight: 600;
                font-size: 28px;
                color: #000;
                margin-bottom: 25px;
                text-align: center;
            }
            p {
                font-size: 18px;
                color: #000;
                line-height: 30px;
                text-align: center;
            }
        }
    }

    .yellow-btn {
        display: block;
        margin: 0 auto;
    }

}