.banner {
    min-height: 300px;
    overflow: hidden;
    margin-bottom: 60px;
    position: relative;
    @media (min-width: 600px) {
        margin-bottom: 116px;
    } 
   
    &__image {
        img {
            width: 100%;
            object-fit: cover;
            min-height: 1100px;
            object-position: 81% 100%;
            @media (min-width: 600px) {
                object-position: 80% 100%;
            }

            @media (min-width: 991px) {
                min-height: 900px;
                object-position: initial;
            }
        }
    }
    &__content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;

        .container {
            max-width: 1394px;
        }
        &__text {
            width: 100%;
            @media (min-width: 991px) {
                width: 53%;
                padding-left: 80px;
            }
            
            h3 {
                color: #e9ad46;
                font-size: 21px;
                text-transform: uppercase;
                margin-bottom: 35px;
            }
            h1 {
                color: #fff;
                font-size: 33px;
                line-height: 40px;
                margin-bottom: 35px;
                @media (min-width: 1024px) {
                    font-size: 33px;
                    line-height: 40px;
                }

                @media (min-width: 1224px) {
                    font-size: 43px;
                    line-height: 58px;
                }
                @media (min-width: 1500px) {
                    font-size: 53px;
                    line-height: 68px;
                }
                
            }

            p {
                font-size: 24px;
                color: #fff;
                line-height: 38px;
                margin-bottom: 50px;
            }
        }

        .banner-cta {
            display: flex;
            gap: 29px;
            flex-direction: column;
            align-items: center;
            @media (min-width: 600px) {
                align-items: initial;
                flex-direction: row;
            }
            a {
                width: 100%;
                max-width: 284px;
                @media (min-width: 600px) {
                    width: 50%;
                }

                &.same-height {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 74px;
                    @media (min-width: 600px) {
                        height: auto;
                    }
                    span {
                        display: block;
                        font-weight: normal;
                    }
                    
                }
                
            }
        }
    }

    &__bottom {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        padding: 0 20px;
        @media (min-width: 600px) {
            padding: 0 90px;
        }
        .container {
            max-width: 100%;
            
            padding: 26px 16px;
            border-top: 1px solid rgba(211, 215, 213, 0.3);
        }
        p {
            font-size: 18px;
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            @media (min-width: 768px) {
                font-size: 22px;  
            }
            span {
                display: block;
                padding: 10px 35px;
                
                @media (min-width: 991px) {
                    padding: 0 35px;
                    display: inline-block;
                }
            }
        }
    }

    
}