.button { display: inline-block; outline: none !important;
    &:hover, &:focus { text-decoration: none; }

    &-primary { min-width: 280px; height: 60px; padding: 15px 15px; border: 2px solid var(--brand-yellow); background-color: var(--brand-yellow); border-radius: 5px; @include p; font-weight: bold; text-transform: uppercase; color: var(--white);
        &:hover, &:focus { background-color: transparent; color: var(--brand-yellow); }
        &:active { background-color: var(--brand-yellow); color: var(--white); border-color: var(--brand-yellow) !important; transition: none; }

        @media (min-width: 768px) { height: 74px; padding-top: 20px; padding-bottom: 20px; }
    }

    &-small { min-width: 150px; height: 45px; padding-top: 5px; padding-bottom: 5px; }

    &-wide { width: 100%; min-width: 100%; }
    &-width-2 {  }

    &[disabled] { pointer-events: none; background-color: var(--grey-1); border-color: var(--grey-1); }
}