.faq {
    margin-bottom: 88px;
    overflow: hidden;
    @media (min-width: 991px) {
        margin-bottom: 148px;
    }
    
    &__content {
        h3 {
            font-size: 21px;
            color: #e9ad46;
            margin-bottom: 20px;
            text-align: center;
        }
        h2 {
            font-weight: bold;
            font-size: 34px;
            color: #000;
            line-height: 50px;
            text-align: center;
            margin-bottom: 40px;
            @media (min-width: 768x) {
                font-size: 53px;
                line-height: 60px;
            }
            @media (min-width: 991px) {
                margin-bottom: 100px;
            }
            span { font-weight: 300; }
        }

        .accordion {
            width: 100%;
            max-width: 1232px;
            margin: 0 auto;
            h4 {
                font-weight: bold;
                font-size: 20px;
                color: #000;
                cursor: pointer;
                position: relative;
                &:after {
                    content: '';
                    background: url('/assets/images/arrow-right.png');
                    width: 15px;
                    height: 15px;
                    position: absolute; 
                    right: -6px;
                    top: 4px;
                }
                &.active {
                    margin-bottom: 21px;
                    &:after {
                        transform: rotate(90deg);
                    }
                }
            }

            p {
                font-size: 18px;
                color: #000;
                line-height: 30px;
                margin-bottom: 47px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
            & > div {
                padding: 27px 30px;
                border: 1px solid #ada8b5;
                border-radius: 4px;
                margin-bottom: 25px;
                @media (min-width: 991px) {
                    margin-bottom: 45px;
                }
            }
        }
    }
}