@font-face {
     font-family: 'HelveticaNeue LT';
     src: url('../fonts/helvetica_neue_lt_pro_45_light-webfont.woff2') format('woff2'),
          url('../fonts/helvetica_neue_lt_pro_45_light-webfont.woff') format('woff');
     font-weight: 300;
     font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue LT';
    src: url('../fonts/helvetica_neue_lt_pro_55_roman-webfont.woff2') format('woff2'),
         url('../fonts/helvetica_neue_lt_pro_55_roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
font-family: 'HelveticaNeue LT';
src: url('../fonts/helvetica_neue_lt_pro_65_medium-webfont.woff2') format('woff2'),
     url('../fonts/helvetica_neue_lt_pro_65_medium-webfont.woff') format('woff');
font-weight: 600;
font-style: normal;
}

@font-face {
     font-family: 'HelveticaNeue LT';
     src: url('../fonts/helvetica_neue_lt_pro_75_bold-webfont.woff2') format('woff2'),
          url('../fonts/helvetica_neue_lt_pro_75_bold-webfont.woff') format('woff');
     font-weight: bold;
     font-style: normal;
}