footer {
    padding: 93px 0 0;
    background: #200840;
    & > div {
        
    }
    .footer-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
        padding: 80px 16px 50px;
        max-width: 1493px;
        margin: 0 auto;
        padding: 0 16px 97px;

        @media (min-width: 1160px) {
            gap: 40px;
        }

        a.logo {
            margin-bottom: 17px;
        }

        .social {
            h3 {
                font-size: 16px;
                color: #fff;
                padding-bottom: 0;
                margin-bottom: 13px;
                border: none;
            }
            li {
                display: inline-block;
                margin: 6px;
                a {
                    display: block;
                    font-size: 35px;
                    color: #fff;
                    &:hover {
                        color: #d29533;
                    }
                }
            }
        }
        
        & > div {
            width: 100%;
            @media (min-width: 991px) {
                width: calc((100% / 3) - 20px);
            }
            @media (min-width: 991px) {
                width: calc((100% / 4) - 20px);
            }

            @media (min-width: 1160px) {
                width: calc((100% / 4) - 40px);
            }
            &:first-child {
                max-width: 100%;
                text-align: left;
                flex: 0 0 100%;
                @media (min-width: 991px) {
                    max-width: 384px;
                    flex: none;
                }
            }
            h2 {
                font-weight: normal;
                font-size: 30px;
                color: #fff;
                margin-bottom: 70px;
            }
            h3 {
                font-size: 16px;
                color: #fff;
                margin-bottom: 24px;
                padding-bottom: 16px;
                border-bottom: 3px solid #c18834;
            }

            a {
                display: block;
                color: #fff;
                font-size: 16px;
                line-height: 30px;
                text-decoration: none;
                &:hover {
                    color: #c18834;
                }
            }

            
        }
    }
    
    .footer-bottom {
        
        background: #fff;
        padding: 17px 0;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            gap: 16px;
            @media (min-width: 991px) {
                flex-direction: row;
            }
            
            p {
                font-size: 14px;
                color: #000;
                line-height: 20px;
                text-align: center;
            }

            div {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 9px;
                @media (min-width: 768px) {
                    flex-direction: row;
                }
            }

            a {
                font-size: 14px;
                color: inherit;
                // margin-left: 8px;
                text-decoration: none;
                &:hover { color: #c18834; }
            }
        }
        
    }

    
}