.form {
    margin-bottom: 80px;
    @media (min-width: 991px) {
        margin-bottom: 159px;
    }
    .container {
        &:after {
            content: '';
            position: absolute;
            width: 95%;
            height: 100%;
            background: #e9ad46;
            border-bottom-right-radius: 40px;
            left: 50px;
            bottom: -30px;
            z-index: 1;
            display: none;
            @media (min-width: 768px) {
                display: block;
            }
            @media (min-width: 991px) {
                margin-right: 30px;
            }
        }
    }

    &__content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #2b0064;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        padding: 20px 16px;
        gap: 30px;
        
        z-index: 2;
        flex-direction: column;
        @media (min-width: 768px) {
            padding: 20px 25px;
        }
        @media (min-width: 991px) {
            margin-right: 30px;
            padding: 40px 35px;
            gap: 80px;
            flex-direction: row;
        }
        @media (min-width: 1224px) {
            padding: 40px 45px;
            gap: 80px;
        }

        @media (min-width: 1424px) {
            padding: 50px 65px;
            gap: 120px;
        }

        img {
            width: 100%;
        }
        
        &__box {
            width: 100%;
            max-width: 563px;
            padding: 52px 16px;
            background: #1a0932;
            @media (min-width: 768px) {
                padding: 52px 65px;
            }
            @media (min-width: 991px) {
                width: 50%;
            }
            h2 {
                font-family: 'helvetica_neue_75',sans-serif;
                font-size: 27px;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 25px;
                @media (min-width: 1024px) {
                    font-size: 27px;
                }

                @media (min-width: 1239px) {
                    font-size: 37px;
                }

                @media (min-width: 1439px) {
                    font-size: 47px;
                }
            }

            h3 {
                font-family: 'HelveticaNeue LT', sans-serif;
                font-size: 24px;
                text-transform: uppercase;
                text-align: center;
                color: #e9ad46;
                margin-bottom: 45px;
                @media (min-width: 1024px) {
                    font-size: 30px;
                }
            }

            p {
                font-family: 'HelveticaNeue LT', sans-serif;
                font-size: 19px;
                color: #fff;
                line-height: 29px;
                text-align: center;
                margin-bottom: 38px;
            }

            
        }
    }


    input[type=text],input[type=email] {
        width: 100%;
        font-family: 'HelveticaNeue LT', sans-serif;
        padding: 16px 20px;
        font-size: 16px;
        color: #454545;
        margin-bottom: 19px;
        @media (min-width: 768x) {
            padding: 21px 20px;
        }
    }

    input[type=email] {
        margin-bottom: 28px;
    }

    input[type=submit] {
        width: 100%;
        font-family: 'HelveticaNeue LT', sans-serif;
        font-size: 15px;
        padding: 16px 35px;
        color: #fff;
        border: 2px solid #e9ad46;
        border-radius: 3px;
        text-align: center;
        background: #e9ad46;
        text-transform: uppercase;
        text-decoration: none;
        @media (min-width: 768x) {
            padding: 26px 35px;
        }
        &:hover {
            background: transparent;
            color: #e9ad46;
        }
    }
}