header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .header-nav {
        position: absolute;
        left: 16px;
        @media (min-width: 768px) {
            left: 32px;
        }
        

        .burger {
            display: flex;
            flex-direction: column;
            gap: 6px;
            cursor: pointer;
            position: relative;
            z-index: 1000;
            // position: absolute;
            // top: 50%;
            // right: 20px;
            // transform: translateY(-50%);
            // z-index: 3;
            
            span {
                background: #d2aa67;
                //background: #278847;
                height: 2px;
                width: 35px;
                transition: all 0.5s ease;
                &:nth-child(2) {
                    width: 18px;
                }
            }
    
            &.active {
                
                span {
                    transition: all 0.5s ease;
                }
                span:nth-of-type(3) {
                    transform: rotate(-45deg);
                    top: -10px;
                    position: relative;
                }
                span:nth-of-type(2) {
                    transform: rotate(45deg);
                }
                span:first-of-type {
                    opacity: 0;
                }
            }
        }
    }

    .logo {
        width: 90px;
       
        @media (min-width: 991px) {
            width: 105px;
        }

        @media (min-width: 1424px) {
            width: 155px;
        }

        img {
            width: 100%;
        }

    }

    .header-content {
        width: 100%;
        padding: 20px 0px;
        margin: 0 16px 0 90px;
        @media (min-width: 768px) {
            margin: 0 90px;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 5;
        border-bottom: 1px solid rgba(211, 215, 213,0.3);


        a {
            max-width: 130px;
            padding: 20px 15px;
            @media (min-width: 450px) {
                max-width: 200px;
            }
            @media (min-width: 768px) {
                max-width: 240px;
                padding: 20px 35px;
            }
            
        }

    }

    &.header-v2 {
        .header-content { border-bottom: none; }
    }
}