body { }

#main-wrapper {
    .container-fluid {
        &:not([class*="pt"]) { padding-top: 60px; }
        &:not([class*="pb"]) { padding-bottom: 60px; }
    
        @media (min-width: 768px) {
            &:not([class*="pt"]) { padding-top: 110px; }
            &:not([class*="pb"]) { padding-bottom: 110px; }
        }
    }
}

.scrolling-touch { overflow: auto; overflow-scrolling: touch; -webkit-overflow-scrolling: touch; }

.container-fluid {
    .container { padding-left: 0; padding-right: 0; }

    @media (min-width: 768px) { padding-left: 20px; padding-right: 20px; }
}

.container { max-width: 1490px;
    &.width-2 {
        @media (min-width: 576px) { max-width: 540px; }
        @media (min-width: 768px) { max-width: 720px; }
        @media (min-width: 992px) { max-width: 1490px; }
    }
    &.width-3 {
        @media (min-width: 992px) { max-width: 1320px; }
    }
    &.width-4 {
        @media (min-width: 992px) { max-width: 1190px; }
    }
    &.width-5 { max-width: 677px; }
    &.width-6 { max-width: 807px; }
    &.width-7 { max-width: 526px; }
}

.row {
    @media (min-width: 992px) {
        &.row-medium { margin-left: -20px; margin-right: -20px;
            > [class*="col"] { padding-left: 20px; padding-right: 20px; }
        }
    }
    &.row-large {
        @media (min-width: 992px) { margin-left: -20px; margin-right: -20px;
            > [class*="col"] { padding-left: 20px; padding-right: 20px; }
        }
        @media (min-width: 1280px) { margin-left: -25px; margin-right: -25px;
            > [class*="col"] { padding-left: 25px; padding-right: 25px; }
        }
    }
}

.row-list-mb30 { margin-bottom: -30px;
    > * { margin-bottom: 30px; }
}
.row-list-mb40 { margin-bottom: -40px;
    > * { margin-bottom: 40px; }
}
.row-list-mb50 { margin-bottom: -50px;
    > * { margin-bottom: 50px; }
}

@media (min-width: 768px) {
    .row-list-md-mb30 { margin-bottom: -30px;
        > * { margin-bottom: 30px; }
    }
    .row-list-md-mb40 { margin-bottom: -40px;
        > * { margin-bottom: 40px; }
    }
    .row-list-md-mb50 { margin-bottom: -50px;
        > * { margin-bottom: 50px; }
    }   
}

.yellow-btn {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    width: 100%;
    max-width: 240px;
    padding: 20px 35px;
    border: 2px solid #e9ad46;
    border-radius: 5px;
    text-align: center;
    background: #e9ad46;
    text-transform: uppercase;
    text-decoration: none;

    span { font-weight: normal; }
    &:hover { text-decoration: none;
        background: transparent;
        color: #e9ad46;
    }

    &.invert {
        background: transparent;

        &:hover {
            background: #e9ad46;
            color: #fff ;
        }
    }

}

.offset-mt150 {
    margin-top: 20px;
    @media (min-width: 768px) {
        margin-top: -100px;              
    }
    @media (min-width: 991px) {
        margin-top: -150px;              
    }   
}
.offset-mt100 {
    margin-top: 20px;
    @media (min-width: 768px) {
        margin-top: -100px;              
    }
    @media (min-width: 991px) {
        margin-top: -100px;              
    }
}

.bg-black { background-color: var(--black); color: var(--white); }
.bg-purple { background-color: var(--brand-purple); }
.bg-purple-2 { background-color: var(--purple-2); }

.bg-grey-1 { background-color: var(--grey-1); }
.bg-grey-2 { background-color: var(--grey-2); }

.com_select-box { position: relative;
	.com_select-box-list { opacity: 0; box-shadow: 0 2px 12px rgba(0,0,0,0.1); pointer-events: none; transform-origin: 50% 0; transform: scale(0.75); transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),opacity 0.15s ease-out; }

	&.com_select-box-default {
		.com_select-box-title { color: #B2B2B2; }
	}

	&.com_select-box-active {
		.com_select-box-list { opacity: 1; pointer-events: auto; transform: scale(1) translateY(0); }
	}
}
.com_select-box-title { position: relative; display: flex; align-items: center; height: 50px; padding: 10px 18px; padding-right: 10px + 15px; border: 1px solid #D5D5D5; cursor: pointer;
	&:after { content: ''; display: block; position: absolute; top: 50%; right: 15px; border-top: 5px solid var(--brand-yellow); border-left: 5px solid transparent; border-right: 5px solid transparent; transform: translate3d(0,-50%,0); }
}
.com_select-box-list { z-index: 10; position: absolute; top: -2px; left: 0; width: 100%; border: 0px solid var(--line-grey); border-radius: 3px; background-color: var(--white); box-shadow: 0 3px 10px rgba(var(--black), 0.1); overflow: hidden;
	ul { position: relative; max-height: 400px; overflow: auto;
		li { padding: 10px 15px; cursor: pointer; transition: background 0.3s, color 0.3s;
			&:first-child { padding-top: 10px; }
			&:last-child { padding-bottom: 10px; }

			&:hover { background-color: var(--brand-yellow); color: var(--white); }

			&.active { background-color: #ffeaa7; color: currentColor; cursor: default;
				&:hover { background-color: #ffeaa7; color: currentColor; }
			}
		}
	}
}

.bp-touch {
	.com_select-box {
		select { opacity: 0; display: block !important; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
	}
	.com_select-box-title { pointer-events: none; }
}

.com_datepicker { position: relative;
	.icon { z-index: 5; position: absolute; top: 50%; right: 12px; pointer-events: none; transform: translate3d(0,-50%,0);
		+ input { padding-right: 30px; }
	}

	.com_datepicker-box { max-width: 350px; }
    .ui-datepicker { z-index: 999; position: absolute; top: 100%; left: 0; }
}
// .com_datepicker-label { opacity: 0; }

.com_datepicker-box { z-index: 100; position: absolute; top: 100%; left: 0; width: 100%; min-width: 350px; padding: 20px; border-radius: 5px; background-color: var(--white); box-shadow: 0 0 20px rgba(0,0,0,0.2);
	> * { margin-bottom: 20px;
		&:last-child { margin-bottom: 0; }
	}

	.ui-datepicker { position: relative; top: 0; min-width: 0; margin: -20px; border-radius: 0; background-color: transparent; box-shadow: none; }
}

.ui-datepicker { z-index: 100 !important; width: auto; min-width: 350px; padding: 20px; border: none !important; border-radius: 5px; box-shadow: 0 0 20px rgba(0,0,0,0.2);
	&.ui-widget { font-family: inherit; }
	&.ui-widget-content { color: #4A4545; }

	table { font-size: inherit; }

	.ui-widget-header { margin-bottom: 10px; padding: 0; border: none; background-color: transparent; color: inherit; }

	.ui-datepicker-prev, .ui-datepicker-next { top: 0 !important; width: auto; height: auto; padding: 2px 8px; border: none !important; background-color: transparent !important; cursor: pointer;
		&:before { content: ''; display: block; font-family: var(--font-awesome); font-weight: 300; font-size: 24px; }
		span { display: none; }

		&[disabled] { opacity: 0.5; pointer-events: none; }
	}

	.ui-datepicker-prev { left: 0 !important;
		&:before { content: '\f104'; }
	}
	.ui-datepicker-next { right: 0 !important;
		&:before { content: '\f105'; }
	}

	.ui-datepicker-title { font-weight: bold; font-size: 20px; }

	.ui-state-default { border: none; background-color: transparent; text-align: center; color: inherit; }
	
	.ui-datepicker-month { padding-right: 10px; }

	th { padding-left: 0; padding-right: 0; font-size: 14px; }
	td { padding: 2px 1px;
		a, span { padding: 11px .2em; border-radius: 6px; font-weight: bold !important;
			&:hover { background-color: #ffeaa7; }
		}

		&.ui-datepicker-current-day {
			a, span { background-color: var(--brand-yellow); color: var(--white); }
		}

		&.ui-datepicker-today {
			a, span { background-color: #ffeaa7; color: inherit; }

            &.ui-datepicker-current-day {
                a, span { background-color: var(--brand-yellow); color: var(--white); }
            }

			&.ui-datepicker-unselectable { opacity: 0.5; }
		}
	}
}

.com_date-time-picker { @extend .com_datepicker;
	.com_datepicker-box { display: none; }
}