.bp-rel { position: relative; }
.bp-ab { position: absolute; }

@media (min-width: 768px) { 
    .bp-md-ab { position: absolute !important; }
}

.pt0 { padding-top: 0; }
.pt10 { padding-top: 10px; }
.pt20 { padding-top: 20px; }
.pt30 { padding-top: 30px; }
.pt40 { padding-top: 40px; }
.pt50 { padding-top: 50px; }
.pt60 { padding-top: 60px; }

.pb0 { padding-bottom: 0; }
.pb10 { padding-bottom: 10px; }
.pb20 { padding-bottom: 20px; }
.pb30 { padding-bottom: 30px; }
.pb40 { padding-bottom: 40px; }
.pb50 { padding-bottom: 50px; }
.pb60 { padding-bottom: 60px; }

.mt0 { margin-top: 0; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; }
.mt50 { margin-top: 50px; }
.mt60 { margin-top: 60px; }

.mb0 { margin-bottom: 0; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.mb40 { margin-bottom: 40px; }
.mb50 { margin-bottom: 50px; }
.mb60 { margin-bottom: 60px; }

.ml-n15 { margin-left: -15px; }
.mr-n15 { margin-right: -15px; }

@media (min-width: 768px) {
    .ml-md-n0 { margin-left: 0; }
    .ml-md-n15 { margin-left: -15px; }
    .ml-md-n20 { margin-left: -20px; }

    .mr-md-n0 { margin-right: 0; }
    .mr-md-n15 { margin-right: -15px; }
    .mr-md-n20 { margin-right: -20px; }

    .pt-md-0 { padding-top: 0; }
    .pt-md-10 { padding-top: 10px; }
    .pt-md-20 { padding-top: 20px; }
    .pt-md-30 { padding-top: 30px; }
    .pt-md-40 { padding-top: 40px; }
    .pt-md-50 { padding-top: 50px; }
    .pt-md-60 { padding-top: 60px; }

    .pb-md-0 { padding-bottom: 0; }
    .pb-md-10 { padding-bottom: 10px; }
    .pb-md-20 { padding-bottom: 20px; }
    .pb-md-30 { padding-bottom: 30px; }
    .pb-md-40 { padding-bottom: 40px; }
    .pb-md-50 { padding-bottom: 50px; }
    .pb-md-60 { padding-bottom: 60px; }
}

@media (min-width: 992px) {
    .ml-lg-n0 { margin-left: 0; }
    .ml-lg-n15 { margin-left: -15px; }
    .ml-lg-n20 { margin-left: -20px; }

    .mr-lg-n0 { margin-right: 0; }
    .mr-lg-n15 { margin-right: -15px; }
    .mr-lg-n20 { margin-right: -20px; }

    .pt-lg-0 { padding-top: 0; }
    .pt-lg-10 { padding-top: 10px; }
    .pt-lg-20 { padding-top: 20px; }
    .pt-lg-30 { padding-top: 30px; }
    .pt-lg-40 { padding-top: 40px; }
    .pt-lg-50 { padding-top: 50px; }
    .pt-lg-60 { padding-top: 60px; }

    .pb-lg-0 { padding-bottom: 0; }
    .pb-lg-10 { padding-bottom: 10px; }
    .pb-lg-20 { padding-bottom: 20px; }
    .pb-lg-30 { padding-bottom: 30px; }
    .pb-lg-40 { padding-bottom: 40px; }
    .pb-lg-50 { padding-bottom: 50px; }
    .pb-lg-60 { padding-bottom: 60px; }
    .pb-lg-110 { padding-bottom: 110px; }
}

.com_banner { background-position: 50% 50%; background-size: cover;
    &:not([class*="bp"]) { position: relative; }
    &[class*="-ab"] { top: 0; left: 0; width: 100%; height: 100%; }

    &.banner-half { width: 50%; }
    &.banner-right { left: inherit; right: 0; }
}

.com_banner-portrait { padding-bottom: 100%; @extend .com_banner;
    @media (min-width: 992px) { position: absolute !important; top: 0; left: 0; width: 100%; height: 100%; padding-bottom: 0;
        &.banner-left { width: 50%; }
        &.banner-right { left: inherit; right: 0; width: 50%; }
    }
}

.mobile-input { appearance: none;
    &:hover, &:focus { box-shadow: none; }
}

.com_row-form { display: block;
    @media (min-width: 400px) { display: flex; margin-left: -8px; margin-right: -8px; }

    > * { width: 100%; margin-bottom: 8px;
        &:last-child { margin-bottom: 0; }

        &.col-short {
            @media (min-width: 400px) { min-width: 150px; max-width: 150px; }
            @media (min-width: 560px) { min-width: 200px; max-width: 200px; }
            @media (min-width: 1200px) { min-width: 280px; max-width: 280px; }
        }

        @media (min-width: 400px) { margin-bottom: 0; padding-left: 8px; padding-right: 8px; }
    }
    
    .form-control { height: 60px; padding: 15px; border: 2px solid var(--grey-1); border-radius: 5px; @extend .mobile-input; @include p;
        @media (min-width: 768px) { height: 74px; padding: 25px; }
    }
}

.co-ma-box { padding: 20px; background-color: var(--white); border-radius: 5px;
    @media (min-width: 768px) { padding: 40px; }
}

.co-ma-circle { display: inline-block; width: 160px; min-width: 160px; height: 160px; border-radius: 50%; @extend .com_banner;
    @media (min-width: 768px) { width: 174px; min-width: 174px; height: 174px; }
}

.co-ma-inv-set { display: flex;
    > * { width: 100%; margin-right: 24px;
        &:last-child { margin-right: 0; }

        &.col-short { width: auto; }

        @media (min-width: 768px) { margin-right: 50px; }
    }
}

.co-ma-inv-icon { width: 60px; min-width: 60px; height: 60px; background-color: var(--brand-yellow); border-radius: 5px; @extend .com_banner;
    @media (min-width: 768px) { width: 79px; min-width: 79px; height: 79px; }
}

.po-co-box { padding: 40px 20px; background-color: var(--white); border-radius: 15px;
    @media (min-width: 768px) { padding: 80px; }
}

.co-ma-input { height: 53px; padding: 10px 15px; border: 2px solid var(--grey-1); border-radius: 5px; @extend .mobile-input;
    &:focus, &:active { border-color: var(--brand-yellow);
        + .com_datepicker-label { @extend .co-ma-input:active; }
    }

    &[readonly] { background-color: var(--white); }

    + .com_datepicker-label { position: absolute; display: flex; align-items: center; z-index: 3; top: 0; left: 0; width: 100%; height: 100%; pointer-events: none; @extend .co-ma-input; }
}

.com_form-group {
    .form-group {
        &:not([class*="mb"]) { margin-bottom: 20px; }

        > label { 
            &:not([class*="mb"]) { margin-bottom: 10px; }
        }
    }

    .form-control { @extend .co-ma-input;
        + .com_datepicker-label { position: absolute; display: flex; align-items: center; z-index: 3; top: 0; left: 0; width: 100%; height: 100%; pointer-events: none; @extend .co-ma-input; }

        &:focus, &:active {
            + .com_datepicker-label { @extend .co-ma-input:active; }
        }
    }

    > * {
        &:last-child { margin-bottom: 0 !important; }
    }
}

.com_checkbox { display: flex; align-items: flex-start; position: relative; cursor: pointer; @include caption;
    &:not([class*="mb"]) { margin-bottom: 0 !important; }

    input[type="checkbox"] { display: flex; align-items: center; justify-content: center; width: 24px; min-width: 24px; height: 24px; margin-right: 15px; border: 2px solid var(--grey-1); border-radius: 5px; cursor: pointer; font-size: 18px; @extend .mobile-input; transition: border-color 0.3s;
        &:after { opacity: 0; content: '\f00c'; position: relative; top: 0.05rem; left: 0.05rem; font-family: var(--font-awesome); color: var(--brand-purple); transform: scale(0.8); transition: transform 0.2s, opacity 0.2s; }
        
        &:checked {
            &:after { opacity: 1; transform: scale(1); }
        }
    }

    &:hover {
        input[type="checkbox"] { border-color: var(--brand-yellow); }
    }
}