.messagepop {
    background-color:#2b0064;
    cursor:default;
    display:none;
    position:fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index:50;
    padding: 25px 16px 20px;
    overflow: scroll;
    @media (min-width: 600px) {
        padding: 25px 25px 20px;
    }
    > img {
        margin-bottom: 33px;
    }

    .close {
        position: absolute;
        top: 60px;
        right: 60px;
    }

    &__content {
        max-width: 1337px;
        padding: 65px 16px;
        background: #1a0832;
        width: 100%;
        margin: 0 auto;
        border-radius: 30px;


        form {
            width: 100%;
            max-width: 885px;
            margin: 0 auto;

            h2 {
                font-family: 'HelveticaNeue LT', sans-serif;
                font-size: 28px;
                color: #ffffff;
                text-align: center;
                line-height: 48px;
                margin-bottom: 36px;
                @media (min-width: 600px) {
                    font-size: 33px;
                    line-height: 48px;
                }
                @media (min-width: 768px) {
                    font-size: 53px;
                    line-height: 68px;
                }
            }

            .form-fields {
                display: flex;
                
                
                input[type=text], input[type=email],select, label {
                    font-family: 'HelveticaNeue LT', sans-serif;
                    font-size: 14px;
                    color: #fff;
                    @media (min-width: 600px) {
                        font-size: 16px;
                    }
                    
                }

                input[type=text], input[type=email], select {
                    flex-grow:1;
                    background: transparent;
                    border: none;
                    &:focus, &:active {
                        border: none;
                    }

                }

                label {
                    padding: 25px 16px;
                }

                > div {
                    border-bottom: 1px solid #fff;
                    width: 100%;
                    display: flex;
                }

                &.columns {
                    justify-content: space-between;
                    flex-direction: column;
                    @media (min-width: 991px) {
                        flex-direction: row;
                    }
                    div {
                        width: 100%;
                        display: flex;
                        border-bottom: 1px solid #fff;
                        @media (min-width: 991px) {
                            width: 50%;
                            max-width: 370px;
                        }
                    }
                }

                .datepicker {
                    position: relative;
                    &::after {
                        content: '';
                        width: 32px;
                        height: 32px;
                        background: url('/assets/images/calendar.png');
                        position: absolute;
                        right: 0;
                        top: 12px;
                    }
                }

                &.check {
                    position: relative;
                    border-bottom: 0;
                    div {
                        font-family: 'HelveticaNeue LT', sans-serif;
                        font-size: 14px;
                        line-height: 24px;
                        color: #fff;
                        padding: 40px 0px 40px 40px;
                        border-bottom: 0;
                    }

                    label {
                        cursor: pointer;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }

                &.button {
                    display: block;
                    border-bottom: 0;
                    text-align: center;
                }

                
                  
                  /* Hide the browser's default checkbox */
                  .checkbox input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                  }
                  
                  /* Create a custom checkbox */
                  .checkmark {
                    position: absolute;
                    top: 48px;
                    left: 0;
                    height: 24px;
                    width: 24px;
                    background-color: #fff;
                    border-radius: 5px;
                  }
                  
                  /* On mouse-over, add a grey background color */
                  .checkbox:hover input ~ .checkmark {
                    background: url('/assets/images/check.png'),#fff;
                  }
                  
                  /* When the checkbox is checked, add a blue background */
                  .checkbox input:checked ~ .checkmark {
                    background: url('/assets/images/check.png'),#fff;
                  }
                  
                  /* Create the checkmark/indicator (hidden when not checked) */
                  .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                  }
                  
                  /* Show the checkmark when checked */
                  .checkbox input:checked ~ .checkmark:after {
                    display: block;
                  }
                  
                 

                
            }

            .required {
                position: relative;
                span {
                    right: 0;
                    top: 40%;
                    position: absolute;
                    color: #fff;
                }
            }

        }
    }

    a.selected {
        background-color:#1F75CC;
        color:white;
        z-index:100;
        }

        label {
        display: block;
        margin-bottom: 3px;
        padding-left: 15px;
        text-indent: -15px;
        }
    }
    
    
    
    .messagepop p, .messagepop.div {
    border-bottom: 1px solid #EFEFEF;
    margin: 8px 0;
    padding-bottom: 8px;
    }


.com_ginihealth-popup { z-index: 500; position: fixed; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden;
    &-cover { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.7); }
    &-main { z-index: 3; position: absolute; top: 0; left: 0; width: 100%; height: 100%; transform-origin: 50% 100%; }
    &-center { position: relative; height: 100%; padding: 24px 15px; @extend .scrolling-touch;
        @media (min-width: 768px) { padding: 30px; }
    }

    &-btn {
        &.btn-close { opacity: 0.6; position: absolute; top: 0; right: 0; width: 30px; margin: 15px;
            &:hover { opacity: 1; }

            @media (min-width: 768px) { position: fixed; right: 15px; width: 35px; margin: 30px; }
        }

        svg {
            path { fill: var(--white); transition: fill 0.3s ease; }
        }

        &:hover {
            svg {
                path { fill: var(--brand-yellow); }
            }   
        }
    }

    &.popup-ready {
        .com_ginihealth-popup-cover { opacity: 0; animation: popupFadeIn 0.3s ease forwards; }
        .com_ginihealth-popup-main { opacity: 0; animation: popupFadeInUp 0.3s ease forwards; }
    }

    &.popup-hiding {
        .com_ginihealth-popup-cover { animation: popupFadeOut 0.3s ease forwards; }
        .com_ginihealth-popup-main { animation: popupFadeOutDown 0.3s ease forwards; }
    }

    &.popup-grey {
        .com_ginihealth-popup-cover { background-color: var(--grey-2); }

        .com_ginihealth-popup-btn {
            svg {
                path { fill: var(--purple-2); }
            }

            &:hover {
                svg {
                    path { fill: var(--brand-yellow); }
                }   
            }
        }
    }
}

@keyframes popupFadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes popupFadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes popupFadeInUp {
    0% { opacity: 0; transform: scale(0.8); }
    100% { opacity: 1; transform: scale(1); }
}

@keyframes popupFadeOutDown {
    0% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(0.8); }
}

.popup-content {
    &-header { padding-bottom: 30px; }
    &-main { padding-bottom: 30px; }
}