.testimonials {
    margin-bottom: 60px;
    overflow: hidden;
    @media (min-width: 768x) {
        margin-bottom: 129px;
    }
    &__content {
        text-align: center;
        h3 {
            font-family: 'HelveticaNeue LT', sans-serif;
            font-size: 21px;
            color: #e9ad46;
            margin-bottom: 25px;
            text-transform: uppercase;
        }
        h2 {
            font-family: 'helvetica_neue_75',sans-serif;
            font-size: 34px;
            color: #000000;
            line-height: 50px;
            width: 100%;
            max-width: 954px;
            margin: 0 auto 70px;
            @media (min-width: 600px) {
                font-size: 53px;
                line-height: 60px;
            }
        }
        p {
            font-family: 'HelveticaNeue LT', sans-serif;
            font-size: 30px;
            color: #000;
            margin-bottom: 50px;
            width: 100%;
        }
    }

    &__columns {
        display: flex;
        gap: 45px;
        flex-direction: column;
        @media (min-width: 991px) {
            flex-direction: row;
        }
        > div {
            display: flex;
            gap: 25px;
            width: 100%;
            background: #2b0064;
            border-radius: 20px;
            padding: 38px 20px;
            @media (min-width: 991px) {
                width: calc((100% / 3) - 45px);
            }
            .user-img {
                img {
                    width: 74px;
                    border-radius: 50%;
                }
            }

            .user-details {
                .rate {
                    margin-bottom: 15px;

                }

                p {
                    font-family: 'HelveticaNeue LT', sans-serif;
                    font-size: 18px;
                    color: #fff;
                    line-height: 30px;
                    margin-bottom: 70px;
                }

                h3 {
                    font-family: 'helvetica_neue_75',sans-serif;
                    font-size: 20px;
                    color: #ffffff;
                    margin-bottom: 17px;
                }
                h4 {
                    font-family: 'HelveticaNeue LT', sans-serif;
                    font-size: 16px;
                    color: #ffffff;
                    margin-bottom: 17px;
                }
            }

        }
    }

    .yellow-btn {
        display: block;
        margin: 62px auto;
    }
}