.theme {
    &-yellow { --theme: var(--brand-yellow);
        .theme-text { color: var(--theme); }
        .theme-bg { background-color: var(--theme); }
    }
    &-purple { --theme: var(--brand-purple);
        .theme-text { color: var(--theme); }
        .theme-bg { background-color: var(--theme); }
    }
}