.two-columns {
    margin-bottom: 50px;
    overflow: hidden;
    @media (min-width: 1024px) {
        margin-bottom: 100px;
    }
    @media (min-width: 1404px) {
        margin-bottom: 200px;
    }
    &__content {
        // overflow: hidden;
        padding: 0 14px;
        display: flex;
        gap: 45px;
        flex-direction: column;
            @media (min-width: 991px) {
                padding: 0 84px;
                gap: 85px;
                flex-direction: row;
            }
        .text{
            width: 100%;
            @media (min-width: 991px) {
                width: 55%;
            }
        }
        .image {
            width: 100%;
            @media (min-width: 991px) {
                width: 45%;
            }
        }
        div {
            h3 {
                font-size: 21px;
                color: #e9ad46;
                margin-bottom: 30px;
            }
            h2 {
                font-weight: bold;
                font-size: 34px;
                line-height: 50px;
                color: #000;
                margin-bottom: 48px;
                @media (min-width: 600px) {
                    font-size: 53px;
                    line-height: 60px;
                }
                @media (min-width: 991px) {
                    margin-bottom: 88px;
                }
                span { font-weight: 300; }
            }

            p {
                font-size: 18px;
                line-height: 30px;
                color: #000;
                margin-bottom: 20px;
                @media (min-width: 991px) {
                    margin-bottom: 40px;
                }
            }

            a {
                display: block;
            }

            img {
                width: 100%;
                
                transform-origin: top left;

                @media (min-width: 1499px) {
                    transform: scale(1.2);
                }
            }
        }

    }
}