.two-columns-layout {
    overflow: hidden;
    margin-bottom: 60px;
    &__content {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        @media (min-width: 991px) {
            flex-direction: row;
        }
        &.image-first {
            @media (min-width: 991px) {
                flex-direction: row-reverse;
            }
            .two-columns-layout__content__left {
                .text {
                    padding: 50px 0px 30px 0px;
                    @media (min-width: 991px) {
                        padding: 50px 0px 30px 100px;
                    }
                    
                }

            }

            .two-columns-layout__content__right {
                .image {
                    width: 100%;
                    transform-origin: top left;
                    position: relative;
                    @media (min-width: 991px) {
                        transform: scale(1.1);
                    }
                    &:after {
                        content:'';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background: #e9ad46;
                        
                        @media (min-width: 991px) {
                            top: 20px;
                            left: 20px;
                        }
                    }

                    img {
                        border-top-left-radius: 45px;
                        border-top-right-radius: 0px;
                    }
                }

            }
        }
        &__left {
            width: 100%;
            @media (min-width: 991px) {
                width: 50%;
                padding-top: 110px;
            }
            
            
            .text {
                padding: 50px 0px 30px 0px;
                position: relative;
                z-index: 3;
                background: #fff;
                @media (min-width: 991px) {
                    padding: 50px 100px 30px 0px;
                }
                
                h3 {
                    font-size: 21px;
                    color: #e9ad46;text-transform: uppercase;
                    margin-bottom: 30px;
                }
                h2 {
                    font-size: 34px;
                    color: #000;
                    line-height: 50px;
                    margin-bottom: 55px;
                    @media (min-width: 768x) {
                        font-size: 53px;
                        line-height: 60px;
                    }
                    span { font-weight: 300; }
                }
    
                p {
                    font-size: 18px;
                    color: #000;
                    line-height: 30px;
                    margin-bottom: 30px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                
            }

            .left-text {
                p { display: flex; align-items: baseline; font-size: 18px;
                    &:not(:last-child) { margin-bottom: 45px; }

                    &:before { content:''; display: inline-block; position: relative; top: 0.1rem; width: 18px; min-width: 30px; height: 18px; background: url('/assets/images/icon-right-arrow.png') no-repeat left center; }
                }
            }
            
        }

        &__right {
            width: 100%;
            @media (min-width: 991px) {
                width: 50%;
            }

            .image {
                width: 100%;
                transform-origin: top right;
                position: relative;
                @media (min-width: 991px) {
                    transform: scale(1.1);
                }
                &:after {
                    content:'';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background: #e9ad46;
                    top: 20px;
                    right: 20px;
                    z-index: 1;
                }
                img {
                    border-top-right-radius: 50px;
                    width: 100%;
                    position: relative;
                    z-index: 2;
                    
                }
            }

            .text {
                
                padding: 80px 16px 0px;
                @media (min-width: 991px) {
                    padding: 80px 16px 0px;
                }
                @media (min-width: 1024px) {
                    padding: 130px 80px 50px;
                }
                @media (min-width: 1500px) {
                    padding: 150px 90px 70px;
                }

                p { display: flex; font-size: 18px;
                    &:not(:last-child) { margin-bottom: 45px; }

                    &:before { content:''; display: inline-block; width: 18px; min-width: 30px; height: 18px; background: url('/assets/images/icon-right-arrow.png') no-repeat left center; }
                }
            }
        }
    }
}