@mixin h1 { font-size: 33px; line-height: 40px;
    @media (min-width: 1200px) { font-size: 43px; line-height: 58px; }
    @media (min-width: 1500px) { font-size: 53px; line-height: 63px; }
}

@mixin h2 { font-size: 34px; line-height: 50px;
    // @media (min-width: 1200px) { font-size: 43px; line-height: 58px; }
    // @media (min-width: 1500px) { font-size: 53px; line-height: 63px; }
}

@mixin h3 { font-size: 26px; font-weight: bold;
    @media (min-width: 1200px) { font-size: 30px; line-height: 40px; }
}

@mixin h4 { font-size: 20px;
    @media (min-width: 1200px) { font-size: 24px; }
}

@mixin p { font-size: 18px; line-height: 30px; }

@mixin caption { font-size: 14px; line-height: 24px; }

h1, h2 { font-weight: bold; }

.section-title {
    &:not([class*="mb"]) { margin-bottom: 50px;
        @media (min-width: 768px) { margin-bottom: 80px; }
    }
}

.section-title,
.section-par {
    h1 { @include h1; }
    h2 { @include h2; }
    h3 { @include h3; }
    h4 { @include h4; }

    h1, h2, h3 {
        &:not([class*="mb"]) { margin-bottom: 24px; }
    }

    p { font-size: 18px; line-height: 30px; }

    > *:not([class*="mb"]) { margin-bottom: 15px;
        &:last-child { margin-bottom: 0 !important; }
    }

    &.par-v2 {
        > *:not([class*="mb"]) { margin-bottom: 24px; }
    }
}

.no-wrap { white-space: nowrap; }