:root {
    --font-default: 'HelveticaNeue LT', sans-serif;
    --font-awesome: 'FontAwesome';

    --brand-yellow: #e9ad46;

    --brand-purple: #4d2d79;
    --purple-2: #200840;

    --grey-1: #b0b0b0;
    --grey-2: #f2f2f2;
}